<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Demo Application</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/iss" routerLinkActive="active">ISS</a></li>
            <li><a routerLink="/github-search" routerLinkActive="active">Github Search</a></li>
            <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
            <li><a routerLink="/lifecycle-hooks" routerLinkActive="active">Lifecycle Hooks</a></li>
            <li><a routerLink="/input-output" routerLinkActive="active">Data passing</a></li>

        </ul>
    </div>
</nav>
