<div class="container">
    <h1 class="text-center">Select any form</h1>
    <div class="text-center">
        <button class="btn btn-primary" routerLink="./template-driven-form" routerLinkActive="active">Template Driven Forms</button>
        <button class="btn btn-primary" routerLink="./model-driven-form" routerLinkActive="active">Model Driven Forms</button>
        <button class="btn btn-primary" routerLink="./mdf-form-builder" routerLinkActive="active">Model Driven Forms using Form Builder</button>
    </div>
    <router-outlet></router-outlet>
</div>
