<!--The whole content below can be removed with the new code.-->
<div class="jumbotron">
    <div class="container">
        <h1>Hello </h1>
        <p>This is a demo application for Angular 2. Please feel free to have a look at the components below. </p>
        <!--        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
</div>

<div class="container text-center ">
    <nav>
        <button routerLink="/dashboard" class="btn btn-success">Dashboard</button>
        <button routerLink="/iss" class="btn btn-success">International Space Station</button>
    </nav>
</div>
